{% extends "index.html" %}

{% load threadedcommentstags %}
{%block title%}<h1>{{ post.title }}</h1>{% endblock %}

{% block content %}
    <p>{{ post.text }}</p>
    <h3>Comentarios de este post:</h3>
    {% get_free_threaded_comment_tree for post as tree %}
    {% for comment in tree %}
        <div style="margin-left: {{ comment.depth }}em;" class="comment">
            <a href="{{ comment.website }}">{{ comment.name }}</a> dijo:<br/>
            {% auto_transform_markup comment %}
        </div>
    {% endfor %}
    <p>Responder:</p>
    <form method="POST" action="{% get_free_comment_url post %}">
        <ul>
            {% get_free_threaded_comment_form as form %}
            {{ form.as_ul }}
            <li><input type="submit" value="Enviar" /></li>
        </ul>
    </form>

{% endblock %}
